<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="{{ '/assets/images/logo.png'|theme }}" alt=""></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ 'services'|page }}">Услуги <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ 'portfolio' }}">Портфолио</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/news-page.php">Новости</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ 'contacts'|page }}">Контакты</a>
            </li>
        </ul>
        <ul class="list-inline my-2">
            <li><a class="header_phone link_hover" href="#">
                {% content 'contact/phone-number' %}
            </a></li>
        </ul>
    </div>
</nav>