.white_background {
  background: $white;

}
.padding-top {
  padding-top: 90px;
}

.head {
  margin-bottom: 30px;
}

.content {
  min-height: 45vh;
}

.more-z {
  position: relative;
  z-index: 999999;
}