body {
  footer {
    background-color: #1c1c1c;
    height: 50%;
    position: relative;
    box-shadow: 0px -1px 10px 0px black;
    .container {
      padding: 50px;
    }
    h3 {
      color: $primary-color-text;
      font-size: $h4;
      text-transform: uppercase;
      font-family: ProximaRegular;

    }
    ul {
      li {
        padding: 5px 0;
          span {
            padding-left: 20px;
          }
        }
      }
    .copyright {
      background-color: darken(#1c1c1c, 25%);
      margin-bottom: 0;
      padding: 10px 50px;
      color: #fff;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      display: block;
      .container {
        padding: 0;
      }
      p {
        opacity: 0.3;
        font-size: 14px;
        font-family: ProximaLight;
        margin: 0;
        line-height: 2;
      }
    }
    }
    .footer_contacts {
      margin-top: 40px;
      font-size: 16px;
      .phone_footer {
        color: $primary-color-text;
        position: relative;
        &:hover {
          text-decoration: none;
        }
        &::before {
          background-image: url("../../assets/images/icons/ic_phone_black_48dp.png");
        }
      }
      .email_footer {
        position: relative;
        color: $primary-color-text;
        &:hover {
          text-decoration: none;
        }
        &::before {
          top: 3px;
          background-image: url("../../assets/images/icons/ic_email_black_48dp.png");
        }
        &::after {
          width: 82%;
        }
      }
      .location_footer {
        position: relative;
        color: $primary-color-text;
        &::before {
          top: 4px;
          background-image: url("../../assets/images/icons/ic_map_black_48dp.png");
        }
      }
    }

  }
