/* Шрифты */
@font-face {
  src: url('../fonts/Proxima/PROXIMANOVATHIN.OTF');
  font-family: ProximaThin;
}

@font-face {
  src: url('../fonts/Proxima/PROXIMANOVALIGHT.OTF');
  font-family: ProximaLight;
}

@font-face {
  src: url('../fonts/Proxima/PROXIMANOVAREGULAR.OTF');
  font-family: ProximaRegular;
}

@font-face {
  src: url('../fonts/Proxima/PROXIMANOVASEMIBOLD.OTF');
  font-family: ProximaSemiBold;
}

@font-face {
  src: url('../fonts/Proxima/PROXIMANOVABOLD.OTF');
  font-family: ProximaBold;
}

@font-face {
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
  font-family: RobotoThin;
}

@font-face {
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-family: RobotoLight;
}

@font-face {
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-family: RobotoRegular;
}

@font-face {
  src: url('../fonts/Roboto/Roboto-Medium.ttf');
  font-family: RobotoMedium;
}

@font-face {
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  font-family: RobotoBold;
}

/* Цвета */
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

/* Размеры шрифтов */
$h1: 42px;
$h2: 36px;
$h3: 30px;
$h4: 24px;
$index_text: 26px;
$text: 16px;