<!-- Блок "О компании" -->
<div class="wrapper about shadow">
    <div class="container">
        <a href="">
            <!-- Заголовок -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 header_about">
                    <h2 class="under_line">Case web studio - разработка веб сайтов и приложений</h2>
                </div>
            </div>
            <!-- Заголовок. Конец. -->

            <!-- Тело блока -->
            <div class="row about_body">
                <!-- Текст о компании. -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text_block">
                    <p>
                        Здесь находится текст о компании, в
                        котором будет рассказываться о том,
                        какие мы крутые и хорошие, и почему
                        стоит заказывать у нас.
                        Ведь у нас хорошая история и такое
                        крутое описание, что все остальные
                        студии, являющимися нашими
                        конкурентами, отходят на задний
                        план. Когда наш будущий клиент
                        знакомиться с нами с помощью
                        этого мега-крутого сайта, то он
                        точно станет нашим клиентом и
                        закажет у нас сайт, потому что наш текст
                        о компании привлечет его.
                    </p>
                </div>
                <!-- Текст о компании. Конец. -->
            </div>
        </a>
    </div>
</div>
<!-- Блок "О компании". Конец. -->
