<!-- Слайдер. Начало.-->
<div class="wrapper slider">
    <div class="container overlay">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
            <!-- Слайды -->
            <div class="carousel-inner" role="listbox">
                <!-- 1 слайд -->
                <div class="carousel-item active">
                    <div class="carousel-caption">
                        <div class="row">

                            <div class="offset-1 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <h2 class="main-slider-text">
                                    Case web technology
                                </h2>
                                <h3 class="second-slider-text">
                                    Разработка сайтов и веб приложений
                                </h3>
                                <!--<a class="btn btn-primary shadow" href="#">Заказать сайт</a>-->
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5 text-left">
                                <!--<img class="d-block img-fluid img-slider" src="{{ 'assets/images/slider/0.png'|theme }}" alt="First slide">-->
                                image here!!!
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Слайд 1. Конец. -->
            </div>
            <!-- Слайды. Конец.  -->
        </div>
    </div>
</div>
<!-- Слайдер. Конец -->